/* main.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Dikey kaydırma için */
  }
  
  #app {
    min-height: 100vh; /* Sayfanın yüksekliğini ayarlar */
    display: flex;
    flex-direction: column; /* Dikey olarak yerleştirme */
  }
  
  * {
    box-sizing: border-box; /* Kutu modelini ayarlayın */
  }
  